{% extends 'base.html' %}

{% block title %}Welcome{% endblock %}


{% block content %}
<form action="/results" method="post" class="d-flex" role="search">
    {# <div class="form">
        <input class="form-control me-2" type="search" placeholder="0501234567" inputmode="tel"
            name="unformatted_number">
    </div>

    <div class="btn-submit">
        <button class="btn btn-outline-success" type="submit">Search</button>
    </div> #}
    <div class="container">
        <input type="text" placeholder="Search..." name="unformatted_number">
        <div class="search"></div>
    </div>
</form>
{% endblock %}